<select>
<option hisname="Assalamualaikum.." msg="Selamat Ulang Tahun Ya, Semoga Panjang Umur, Sehat Selalu Dan Makin Dewasa. Semoga Diberi Kebahagiaan Selalu, Amin." sender="From :  MR.W"  src2="http://1.s3.envato.com/files/22579435/images/facebook.png" 
 value2="facebook.com/wendy.andriyan.1" /> 
</select>